.body1{
    background-image: url(images/Web_background\(Dark\).png);
    background-size: 50% ;
    margin: 0;
    color: #fff;
}

.body2{
    background-image: url(images/Web_background\(Light\).png);
    background-size: 50% ;
    margin: 0;
    color: rgb(10, 10, 10);
}
.disabledBody{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.head1{
    width: 100%;
    padding: 1% 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    box-shadow: 0 1px 10px 0 #fff;
    font-weight: bolder;
}

.head2{
    width: 100%;
    padding: 1% 0;
    background-color: rgba(10, 10, 10, 0.2);
    display: flex;
    box-shadow: 0 1px 10px 0 black;
}



.head{
    width: 100%;
    padding: 0 1%;
    display: flex;
}

.image-container{
    width: 20%;
    padding: 0 1%;
    display: flex;
    align-items: center;
}

.head img{
    width: 35%;
    border-radius: 50%;
}

.title{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}

.theme{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 1%;
    gap: 5%;
}

.button-background{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1% 12% 1% 1%;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.themeButton{
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.but-Back{
    background-color: rgba(10, 10, 10, 0.3);
    padding: 1% 1% 1% 12%;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.but2{
    background-color: black;
    border-radius: 50%;
    color: transparent;
    border: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.iconContainer{
    display: none;
    width: 10%;
    padding: 1%;
}

.barMenu{
    display: none;
}

.menuIsActive{
    display: flex;
    flex-direction: column;
    gap: 5%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 34%;
    height: 60%;
    width: 65%;
}

.closeMenu{
    background-color: greenyellow;
    width: 15%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}

#service-content{
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.5);
}

.service-options{
    /* border: 2px solid yellow; */
}

.projects_contact1{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects_contact2{
    background-color: rgba(10, 10, 10, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-container{
    margin: 0.1% 0.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 485px;
}
#contact-container{
    margin: 0.1% 0.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 485px;
}

#contact{
    text-align: center;
}

#contact .button{
    padding: 5%;
    border-radius: 50px;
    background-color: rgba(10, 10, 10, 0.5);
    box-shadow: 0 3px 7px 0 #fff;
    color: #fff;
    cursor: pointer;
}

#projects{
    height: 70%;
    width: 70%;
    background-color: aqua;
}

.arrow{
    animation: animateArrow 500ms infinite ease-in-out;
    font-size: 500%;
}

#video2, #video3{
    display: none;
}

@keyframes animateArrow {
    0%{
        margin: 1% 7% 6% 7%;
    }
    100%{
        margin: 6% 7% 1% 7%;
    }
}

@media only screen and (max-width: 630px) {
    .iconContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconContainer i{
        cursor: pointer;
    }

    .theme{
        display: none;
    }

    #head{
        padding: 2% 0;
    }
    
    .image-container{
        width: 20%;
        padding: 0 1%;
        display: flex;
        align-items: center;
    }
    
    .head img{
        width: 80%;
        border-radius: 50%;
    }

    #service-content{
        display: none;
    }

    #projects_contact{
        display: block;
    }

    #projects{
        width: 70%;
        height: 70%;
    }

    #projects-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 300px;
    }
    #contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 300px;
    }
}


